<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>HUSTOJ Java</display-name>

    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Filters -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.hustoj.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>CsrfFilter</filter-name>
        <filter-class>com.hustoj.filter.CsrfFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CsrfFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.hustoj.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Servlets -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/loginpage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
        <url-pattern>/registerpage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LostPasswordServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.LostPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LostPasswordServlet</servlet-name>
        <url-pattern>/lostpassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.UserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/userinfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifyPasswordServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ModifyPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyPasswordServlet</servlet-name>
        <url-pattern>/modifypassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProblemSetServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ProblemSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProblemSetServlet</servlet-name>
        <url-pattern>/problemset</url-pattern>
        <url-pattern>/problemset.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProblemServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ProblemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProblemServlet</servlet-name>
        <url-pattern>/problem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmitServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.SubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitServlet</servlet-name>
        <url-pattern>/submit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.StatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StatusAjaxServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.StatusAjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatusAjaxServlet</servlet-name>
        <url-pattern>/status-ajax</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowSourceServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ShowSourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowSourceServlet</servlet-name>
        <url-pattern>/showsource</url-pattern>
        <url-pattern>/showsource2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReinfoServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ReinfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReinfoServlet</servlet-name>
        <url-pattern>/reinfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CeInfoServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.CeInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CeInfoServlet</servlet-name>
        <url-pattern>/ceinfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RejudgeServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.RejudgeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RejudgeServlet</servlet-name>
        <url-pattern>/admin/rejudge</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContestListServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ContestListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContestListServlet</servlet-name>
        <url-pattern>/contest</url-pattern>
        <url-pattern>/contest-list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContestServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ContestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContestServlet</servlet-name>
        <url-pattern>/contest-detail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContestRankServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ContestRankServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContestRankServlet</servlet-name>
        <url-pattern>/contestrank</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContestRankOIServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ContestRankOIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContestRankOIServlet</servlet-name>
        <url-pattern>/contestrank-oi</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DiscussServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.DiscussServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiscussServlet</servlet-name>
        <url-pattern>/discuss</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ThreadServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ThreadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThreadServlet</servlet-name>
        <url-pattern>/thread</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewPostServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.NewPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewPostServlet</servlet-name>
        <url-pattern>/newpost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.PostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MailServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.MailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MailServlet</servlet-name>
        <url-pattern>/mail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.NewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/news</url-pattern>
        <url-pattern>/viewnews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RanklistServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.RanklistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RanklistServlet</servlet-name>
        <url-pattern>/ranklist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BalloonServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.BalloonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BalloonServlet</servlet-name>
        <url-pattern>/balloon</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrinterServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.PrinterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrinterServlet</servlet-name>
        <url-pattern>/printer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.CategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OnlineServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.OnlineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OnlineServlet</servlet-name>
        <url-pattern>/online</url-pattern>
    </servlet-mapping>

    <!-- Admin Servlets -->
    <servlet>
        <servlet-name>UserManageServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.UserManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManageServlet</servlet-name>
        <url-pattern>/admin/user</url-pattern>
        <url-pattern>/admin/user-list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserImportServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.UserImportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserImportServlet</servlet-name>
        <url-pattern>/admin/user-import</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProblemAddServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.ProblemAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProblemAddServlet</servlet-name>
        <url-pattern>/admin/problem-add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProblemEditServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.ProblemEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProblemEditServlet</servlet-name>
        <url-pattern>/admin/problem-edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProblemDelServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.ProblemDelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProblemDelServlet</servlet-name>
        <url-pattern>/admin/problem-del</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProblemImportServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.ProblemImportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProblemImportServlet</servlet-name>
        <url-pattern>/admin/problem-import</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProblemExportServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.ProblemExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProblemExportServlet</servlet-name>
        <url-pattern>/admin/problem-export</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContestAddServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.ContestAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContestAddServlet</servlet-name>
        <url-pattern>/admin/contest-add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContestEditServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.ContestEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContestEditServlet</servlet-name>
        <url-pattern>/admin/contest-edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewsAddServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.NewsAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsAddServlet</servlet-name>
        <url-pattern>/admin/news-add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewsEditServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.NewsEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsEditServlet</servlet-name>
        <url-pattern>/admin/news-edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewsListServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.NewsListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsListServlet</servlet-name>
        <url-pattern>/admin/news-list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrivilegeAddServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.PrivilegeAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrivilegeAddServlet</servlet-name>
        <url-pattern>/admin/privilege-add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrivilegeDeleteServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.PrivilegeDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrivilegeDeleteServlet</servlet-name>
        <url-pattern>/admin/privilege-delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrivilegeListServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.PrivilegeListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrivilegeListServlet</servlet-name>
        <url-pattern>/admin/privilege-list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateDbServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.UpdateDbServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateDbServlet</servlet-name>
        <url-pattern>/admin/update-db</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BackupServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.BackupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackupServlet</servlet-name>
        <url-pattern>/admin/backup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SuspectListServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.SuspectListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuspectListServlet</servlet-name>
        <url-pattern>/admin/suspect-list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SolutionStatisticsServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.SolutionStatisticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SolutionStatisticsServlet</servlet-name>
        <url-pattern>/admin/solution-statistics</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WatchServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.WatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WatchServlet</servlet-name>
        <url-pattern>/admin/watch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TeamGenerateServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.TeamGenerateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeamGenerateServlet</servlet-name>
        <url-pattern>/admin/team-generate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExportAcCodeServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ExportAcCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportAcCodeServlet</servlet-name>
        <url-pattern>/export-ac-code</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExportContestCodeServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ExportContestCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportContestCodeServlet</servlet-name>
        <url-pattern>/export-contest-code</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShareCodeServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ShareCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShareCodeServlet</servlet-name>
        <url-pattern>/sharecodepage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShareCodeListServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ShareCodeListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShareCodeListServlet</servlet-name>
        <url-pattern>/sharecodelist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GroupTotalServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.GroupTotalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupTotalServlet</servlet-name>
        <url-pattern>/group-total</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GroupStatisticsServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.GroupStatisticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupStatisticsServlet</servlet-name>
        <url-pattern>/group-statistics</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompareSourceServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.CompareSourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompareSourceServlet</servlet-name>
        <url-pattern>/comparesource</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContestPrChangeServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.ContestPrChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContestPrChangeServlet</servlet-name>
        <url-pattern>/admin/contest-pr-change</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContestDfChangeServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.ContestDfChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContestDfChangeServlet</servlet-name>
        <url-pattern>/admin/contest-df-change</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProblemDfChangeServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.ProblemDfChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProblemDfChangeServlet</servlet-name>
        <url-pattern>/admin/problem-df-change</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProblemCopyServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.ProblemCopyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProblemCopyServlet</servlet-name>
        <url-pattern>/admin/problem-copy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProblemChangeIdServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.ProblemChangeIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProblemChangeIdServlet</servlet-name>
        <url-pattern>/admin/problem-change-id</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RanklistExportServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.admin.RanklistExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RanklistExportServlet</servlet-name>
        <url-pattern>/admin/ranklist-export</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContestStatisticsServlet</servlet-name>
        <servlet-class>com.hustoj.servlet.ContestStatisticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContestStatisticsServlet</servlet-name>
        <url-pattern>/contest-statistics</url-pattern>
    </servlet-mapping>

    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/views/error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/error500.jsp</location>
    </error-page>

    <!-- Session Config -->
    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
            <same-site>Strict</same-site>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
</web-app>
